<app-public-header></app-public-header>

<div class="w-100">
  <div class="row justify-content-start m-0">
    <div class="col-2">
      <app-private-sidebar></app-private-sidebar>
    </div>
    <div class="col-10">
      <div class="container p-3">

        <h3>Tous les produits</h3>
        <a [routerLink]="['/create-product']" role="button" class="btn btn-primary">Ajouter un produit</a>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="col">Name</th>
              <th scope="col" class="col-3">Description</th>
              <th scope="col" class="col-2">Categorie</th>
              <th scope="col" class="col-2">Ingredients</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of displayedProducts; index as i">
              <th scope="row">
                <img [src]="'http://localhost:8080/content/images/'+prod.image" class="me-2" style="width: 50px">
              </th>
              <td>{{ prod.name }}</td>
              <td>{{ prod.description }}</td>
              <td>{{ prod.categorie.name }}</td>
              <td>
                <ul style="list-style-type: none; padding: 0px;">
                  <li *ngFor="let ingre of prod.ingredients">- {{ingre.name}}</li>
                </ul>
              </td>
              <td>{{ prod.price | number }} €</td>
              <td class="text-center align-middle">
                <a [routerLink]="['/update-product', prod.id]" role="button" class="btn btn-warning btn-sm">Update</a>
              </td>
              <td class="text-center align-middle">
                <a [routerLink]="['/delete-product', prod.id]" role="button" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProducts()">
          </ngb-pagination>
          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
            <option [ngValue]="5" [selected]="true">5 items</option>
            <option [ngValue]="10">10 items</option>
            <option [ngValue]="25">25 item</option>
          </select>
        </div>

      </div>
    </div>
  </div>
</div>
