<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="products">MyResto</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="products"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>

    <div class="navbar-nav navbar-rigth">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/signup">S'inscrire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
