<div class="p-3 bg-white">
  <ul class="list-unstyled ps-0">
    <li *ngIf="isAdmin() or isWorker()" class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="/all-products" class="link-dark rounded">Products</a></li>
          <li><a routerLink="/all-menus" class="link-dark rounded">Menus</a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="isAdmin()" class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse" aria-expanded="true">
        Users
      </button>
      <div class="collapse show" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="/all-users" class="link-dark rounded">All users</a></li>
          <li><a routerLink="/create-user" class="link-dark rounded">Create user</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#orders-collapse" aria-expanded="true">
        Orders
      </button>
      <div class="collapse show" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">All orders</a></li>
          <li><a href="#" class="link-dark rounded">Make order</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#account-collapse" aria-expanded="true">
        Account
      </button>
      <div class="collapse show" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="/profil" class="link-dark rounded">Profile</a></li>
          <li><a (click)="signOut()" routerLink="" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
