<app-public-header></app-public-header>
<div class="container p-4 w-75">
  <div *ngIf="loading">
    loading...
  </div>
  <div *ngIf="!loading" class="card">

    <ngb-toast *ngIf="show" class="toast-container position-fixed bg-dark text-light fw-bold top-0 end-0 p-1 m-5"
      style="z-index: 10" [autohide]="true" [delay]="1500" (hidden)="show=false">
      Produit ajouté au panier.
    </ngb-toast>

    <h5 class="card-header">Produit : {{ product.name }}</h5>
    <div class="card-body">
      <div class="text-center">
        <img src="http://localhost:8080/content/images/{{product.image}}" style="height: 250px;" alt="...">
      </div>
      <h5 class="card-title">Description</h5>
      <p class="card-text">{{product.description}}</p>
      <h5 class="card-title">Price</h5>
      <p class="card-text">{{product.price}}</p>
      <div *ngIf="product.ingredients.length > 0">
        <h5 class="card-title">Ingredients</h5>
        <ul class="list-group list-group-flush col-4">
          <li *ngFor="let ingr of product.ingredients" class="list-group-item">{{ingr.name}}</li>
        </ul>
      </div>
      <div class="row text-center p-2 px-5">
        <button class="btn btn-primary" (click)="addToCart()">Ajouter au Panier</button>
      </div>
    </div>
  </div>

</div>
<app-public-footer></app-public-footer>
