<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container">
    <div class="section-title">
      <h2>Check our tasty <span>Menu</span></h2>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li *ngFor="let cat of productsByCategory | keyvalue" [ngbNavItem]="cat.key">
        <a ngbNavLink>{{cat.key}}</a>
        <ng-template ngbNavContent>
          <div class="row row-cols-1 row-cols-md-4 g-4 p-3">
            <div *ngFor="let prod of cat.value" class="col">
              <div class="card h-100">
                <img src="http://localhost:8080/content/images/{{prod.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ prod.name }}</h5>
                  <p class="card-text">{{ prod.description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <p *ngIf="cat.value.length == 0" class="col">
              Aucun produit dans cette catégorie.
            </p>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>


    <!-- <mat-tab-group mat-align-tabs="center">
      <mat-tab *ngFor="let cat of productsByCategory | keyvalue" label="{{cat.key}}">
        <div class="card-deck p">
            <div class="card mr-3" style="width: 18rem;" *ngFor="let prod of cat.value">
              <img class="card-img-top" src="http://localhost:8080/content/images/{{prod.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.
                  This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          <div *ngIf="cat.value.length == 0">
            Aucun produit pour cette categorie.
          </div>
        </div>
      </mat-tab>
    </mat-tab-group> -->

  </div>
</section>
<!-- End Menu Section -->
