<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/logo/logo_black.png" style="width: 75px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/index" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/display-products" class="nav-link">Nos produits</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/shopping-cart" class="nav-link">My Cart <i class="bi bi-cart2"></i>
            <span class="badge bg-dark" style="font-size: 9px;">{{(nbItems() | async)}}</span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item text-end" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/auth" class="nav-link">Se connecter <i class="bi bi-person-circle"></i></a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item text-end" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/profil" class="nav-link">Profil <i class="bi bi-person-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
