<app-public-header></app-public-header>

<div class="w-100">
  <div class="row justify-content-start m-0">
    <div class="col-lg-2">
      <app-private-sidebar></app-private-sidebar>
    </div>
    <div class="col-lg-10">
      <div class="container p-3">
        <h3>All users</h3>
        <a [routerLink]="['/create-user']" role="button" class="btn btn-primary">Create User</a>

        <ngb-alert *ngIf="alert.message" class="text-center" [dismissible]="false" [type]="alert.type">{{alert.message
          }}
        </ngb-alert>

        <div class="table-responsive">
          <table class="table align-middle mb-0 bg-white">
            <thead class="">
              <tr>
                <th>Info</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Created</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userslist;">
                <td>
                  <p class="fw-bold mb-0">{{user.firstName}} {{user.lastName}}</p>
                  <p class="text-muted mb-0">{{user.address}}</p>
                  <p class="text-muted mb-0">{{user.birthDate | date:'dd/MM/yyyy'}}</p>
                </td>
                <td>
                  <p class="fw-normal mb-0">{{user.email}}</p>
                  <p class="fw-normal mb-0">{{user.phoneNumber}}</p>
                </td>
                <td>
                  <p>
                    <span *ngIf="user.role == EROLE.ADMIN" class="badge bg-primary w-100">{{user.role}}</span>
                    <span *ngIf="user.role == EROLE.WORKER" class="badge bg-success w-100">{{user.role}}</span>
                    <span *ngIf="user.role == EROLE.CLIENT" class="badge bg-warning w-100">{{user.role}}</span>
                  </p>
                </td>
                <td>
                  <p class="text-muted mb-0">{{user.createdAt | date:'dd/MM/yyyy'}}</p>
                </td>
                <td class="text-center align-middle">
                  <div class="btn-group-vertical w-100">
                    <a [routerLink]="['/edit-user', user.id]"
                      class="btn btn-warning btn-sm w-100">Edit</a>
                    <button class="btn btn-danger btn-sm w-100"
                      (click)="deleteUser(user.id)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
