<app-public-header></app-public-header>

<div class="w-100">
  <div class="row justify-content-start m-0">
    <div class="col-2">
      <app-private-sidebar></app-private-sidebar>
    </div>
    <div class="col-10">
      <div class="container p-3">
        <h3>Create Menu</h3>

        <div class="p-5 mx-auto">

          <ngb-alert *ngIf="alert.message" class="text-center" [dismissible]="false" [type]="alert.type">{{
            alert.message }}</ngb-alert>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-6 mb-2">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" required>
                  <mat-error *ngIf="formControl['name'].touched && formControl['name'].invalid">
                    The name can not be empty.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group col-md-6 mb-2">
                <mat-form-field appearance="fill">
                  <mat-label>Price</mat-label>
                  <input matInput type="number" min="0" placeholder="10 €" formControlName="price" required>
                  <span matSuffix>€</span>
                  <mat-error *ngIf="formControl['price'].touched && formControl['price'].invalid">
                    The price can be at least 0.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md mb-2">
                <mat-form-field appearance="fill">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description" required></textarea>
                  <mat-error *ngIf="formControl['description'].touched && formControl['description'].invalid">
                    The description can not be empty.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 mb-2">
                <input class="form-control form-control" (change)="selectFile($event)" type="file"
                  accept="image/png, image/jpeg" formControlName="image">
                <div class="invalid-feedback" style="display: block;"
                  *ngIf="formControl['image'].touched && formControl['image'].invalid">
                  A picture is required.
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <h4>Les produits </h4>
              <mat-selection-list #shoes formControlName="produits">
                <div *ngFor="let cat of productsByCategory | keyvalue">
                  <div *ngIf="cat.value.length > 0">
                    <div mat-subheader> {{ cat.key }}</div>
                    <mat-list-option style="display: inline-block; width: 30%;" *ngFor="let prod of cat.value" [value]="prod.id">
                      <img mat-list-avatar style="width: 90px;height: 90px;border-radius: 0%;"
                        src="http://localhost:8080/content/images/{{prod.image}}" alt="">
                      <div mat-line>{{prod.name}}</div>
                      <div mat-line> {{prod.description }} </div>
                      <div mat-line> {{prod.price }} € </div>
                      <div mat-line> {{prod.categorie.name }} </div>
                    </mat-list-option>
                  </div>
                </div>
              </mat-selection-list>
            </div>

            <div class="form-group mb-2">
              <input type="submit" name="submit" value="Enregistrer" class="btn btn-primary font-weight-bold mt-1"
                style="border-radius: 0.25rem; font-size: 16px;" [disabled]="form.invalid" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
