<app-public-header></app-public-header>

<div class="container">
  <!-- Pills content -->


  <!-- Login tab -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <!-- Debut image gauche -->
            <div class="col-lg-6 d-none d-lg-block" style="
                    background: url('assets/img/cover1.jpg');
                    background-position: center;
                    background-size: cover;
                    ">
            </div>
            <!-- Fin image -->

            <div class="col-lg-6 tab-content">

              <!-- Pills navs -->
              <div class="px-5 pt-5">
                <ul class="nav nav-pills nav-justified" id="ex1">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-bs-toggle="pill" href="#pills-login" role="tab"
                      aria-controls="pills-login" aria-selected="true">Login</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-register" data-bs-toggle="pill" href="#pills-register" role="tab"
                      aria-controls="pills-register" aria-selected="false">Register</a>
                  </li>
                </ul>
              </div>
              <!-- Fin Pills navs -->

              <!-- loggin tab -->
              <div class="tab-pane fade  py-4 px-5 show active " id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <div class="text-center">
                  <h3 class="m-3">Login</h3>
                </div>
                <!-- Formulaire -->
                <div class="user">
                  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Adresse mail :</label>
                      <input type="text" name="email" id="email" formControlName="email" placeholder="Votre adresse mail" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Mot de passe :</label>
                      <input type="password" name="password" id="password" formControlName="password" placeholder="Votre mot de passe" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group">
                      <input type="submit" name="submit" value="se connecter"
                        class="btn btn-dark btn-sm font-weight-bold w-100 mt-1"
                        style="border-radius: 0.25rem; font-size: 16px;"
                        [disabled]="userForm.invalid"/>
                    </div>
                  </form>
                </div>
                <!-- Fin form -->
              </div>
              <!-- Fin tab login -->

              <!-- debut tab signup -->
              <div class="tab-pane fade show py-4 px-5" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <div class="text-center">
                  <h3 class="m-3">Register</h3>
                </div>
                <!-- Formulaire -->
                <div class="user">
                  <form>
                    <div class="row">
                      <div class="form-group col-md-6 mb-2">
                        <label class="font-weight-bold">Nom :</label>
                        <input type="text" name="numDossier" placeholder="Joe" class="form-control"
                          style="border-radius: 0.35rem;">
                      </div>
                      <div class="form-group col-md-6 mb-2">
                        <label class="font-weight-bold">Prenom :</label>
                        <input type="text" name="numDossier" placeholder="Biden" class="form-control"
                          style="border-radius: 0.35rem;">
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Adresse mail :</label>
                      <input type="text" name="numDossier" placeholder="joe@gmail.com" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Mot de passe :</label>
                      <input type="password" name="numCand" placeholder="******" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Adresse postale :</label>
                      <input type="text" name="numCand" placeholder="20 rue de la route, 59800, Lille"
                        class="form-control" style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">Numero de telephone :</label>
                      <input type="tel" pattern="[0-9]*" name="numCand" placeholder="060000001" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group mb-2">
                      <label class="font-weight-bold">date de naissance :</label>
                      <input type="date" name="numCand" placeholder="30/06/2000" class="form-control"
                        style="border-radius: 0.35rem;">
                    </div>
                    <div class="form-group">
                      <input type="submit" name="submit" value="s'inscrire"
                        class="btn btn-dark btn-sm font-weight-bold w-100 mt-1"
                        style="border-radius: 0.25rem; font-size: 16px;" />
                    </div>
                  </form>
                </div>
                <!-- Fin form -->
              </div>
              <!-- fin tab sign up -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-public-footer></app-public-footer>
